SECRET_KEY=replace-with-a-strong-django-secret-key
DEBUG=False
ALLOWED_HOSTS=api.regalrivulet.com,regalrivulet.com,www.regalrivulet.com

DB_ENGINE=django.db.backends.mysql
DB_NAME=webmitra_travel_backenddb
DB_USER=webmitra_regalrivulet
DB_PASSWORD=put-your-cpanel-database-user-password-here
DB_HOST=localhost
DB_PORT=3306

CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://regalrivulet.com,http://www.regalrivulet.com,https://regalrivulet.com,https://www.regalrivulet.com
CSRF_TRUSTED_ORIGINS=http://regalrivulet.com,http://www.regalrivulet.com,http://api.regalrivulet.com,https://regalrivulet.com,https://www.regalrivulet.com,https://api.regalrivulet.com
FRONTEND_URL=https://regalrivulet.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.regalrivulet.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Regal Rivulet Retreat Hotel <info@regalrivulet.com>
